[Unit]
Description=ceph target allowing to start/stop spdk-conf.target
PartOf=ceph.target
Before=ceph.target
[Install]
WantedBy=multi-user.target ceph.target
